* {
    font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti !important;
}

.background {
    background-color: #24272C;
    background-image: url(../img/bg_n3.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.wrapper {
    margin-top: 50px;
    padding-top: 200px;
}

.container.main {
    min-height: 600px;
}

.container.disqus {
    background-color: rgba(0,0,0,.3);
}

.navbar-inverse {
    background-color: transparent;
    border: none;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

    .navbar-inverse .navbar-brand {
        color: #fff;
    }
